<nav
  class="flex flex-col items-center md:flex-row md:justify-center md:pb-10 md:space-x-10"
>
  <a href="/" class="font-medium text-gray-500 hover:text-gray-900">Home</a>
  <a href="/log-in" class="font-medium text-gray-500 hover:text-gray-900"
    >Login</a
  >
  <a href="/sign_up" class="font-medium text-gray-500 hover:text-gray-900"
    >Sign up</a
  >
  <a href="/join" class="font-medium text-sky-400 hover:text-sky-900"
    >Join Club</a
  >
  <a href="/admin" class="font-medium text-gray-500 hover:text-gray-900"
    >Admin</a
  >
  <a href="/log-out" class="font-medium text-gray-500 hover:text-gray-900"
    >Log Out</a
  >
</nav>
