<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  <header><%- include('../partials/header'); %></header>

  <h1
    class="text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900"
  >
    Log in to the Club
  </h1>
  <% if (user) {%>
  <h1
    class="text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900"
  >
    You are logged in
  </h1>
  <img class="mx-auto mb-10" src="check.png" />
  <% } else { %>
  <form action="/log-in" method="POST" class="w-1/2 mx-auto mt-10 text-center">
    <label for="username" class="block mb-3">Username</label>
    <input
      name="username"
      placeholder="username"
      type="text"
      class="w-full p-2 mb-3 border border-gray-400 border-solid"
    />
    <label for="password" class="block mb-3">Password</label>
    <input
      name="password"
      placeholder="password"
      type="password"
      class="w-full p-2 mb-3 border border-gray-400 border-solid"
    />
    <button class="p-3 pl-5 pr-5 mt-5 text-white bg-sky-400 rounded-lg">
      Log In
    </button>
  </form>
  <%} %>
</body>
