<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header_s'); %></header>

  <body>
    <% if (typeof user !== 'undefined') {%>
      <h1
        class="text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900"
      >
        You are logged in
      </h1>
      <img class="mx-auto mb-10" src="check.png" />
      <% } else { %>
    
        <h1
      class="text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900"
    >
      Sign up to join the club
    </h1>
    

    <h2 class="mx-auto text-center text-2xl">And post a message</h2>
    <% if (typeof error !== 'undefined') {%>
     <% error.forEach(function(err) { %>
      <h1 class="text-center text-1xl mb-10 font-extrabold tracking-tight text-red-500 mt-7">
        <%= err %>
      </h1>
      <% }) %>
      <% } else { %>
      
    <form action="/sign_up" method="POST" class="w-1/2 mx-auto mt-10 text-center">
      <label for="username" class="block mb-3">First Name</label>
      <input name="firstname" placeholder="first name" type="text" class="w-full p-2 mb-3 border border-gray-400 border-solid" />
      <label for="lastname" class="block mb-3">Last Name</label>
      <input name="lastname" placeholder="last name" type="text" class="w-full p-2 mb-3 border border-gray-400 border-solid" />
      <label for="username" class="block mb-3">Username</label>
      <input name="username" placeholder="username" type="text" class="w-full p-2 mb-3 border border-gray-400 border-solid"/>
      <label for="password" class="block mb-3">Password</label>
      <input name="password" placeholder="password" type="password" class="w-full p-2 mb-3 border border-gray-400 border-solid"/>
      <label for="passwordconf" class="block mb-3">Confirm Password</label>
      <input name="passwordconf" placeholder="confirm password" type="password" class="w-full p-2 mb-3 border border-gray-400 border-solid"/>
      <button class="p-3 pl-5 pr-5 mt-5 text-white bg-sky-400 rounded-lg">Sign Up</button>
    </form>
    <% } %>
    <% } %>
  </body>
</html>
